[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = "*"
"boto3" = "*"


[packages]

requests = "*"
numpy = "*"
pymysql = "*"
sklearn = "*"


[requires]

python_version = "2.7"
